name: Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

env:
  FOUNDRY_PROFILE: ci

jobs:
  check:
    name: Foundry project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Foundry (stable)
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: stable

      - name: Install dependencies
        run: forge install --no-commit

      - name: Clear Foundry cache
        run: forge cache clean

      - name: Verify Foundry version
        run: forge --version

      - name: Run forge build
        run: forge build --sizes

      - name: Run forge tests
        run: forge test -vvv
